.splash-section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: pink;
}

img {
  margin-bottom: 25px;
}

small {
  color: rgb(242, 60, 121);
  margin-top: 15px;
}
